@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a:active, a:hover, a:focus, input:active, input:hover, input:focus, textarea:active, textarea:hover, textarea:focus, button:active, button:hover, button:focus {
  outline: 0;
  outline-offset: 0;
}

button {
  border: none;
}

h1 {
  max-width: 855px;
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 19px;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.hidden {
  display: none;
}

.mobile-menu {
  position: relative;
  background: #ffffff;
  color: #181818;
  min-width: 405px;
  padding-top: 37px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 70px;
}

.mobile-menu h2 {
  margin-bottom: 37px;
}

.mobile-menu li {
  margin-bottom: 40px;
}

.mobile-menu a {
  color: #181818;
}

.mobile-menu .phone {
  font-weight: 700;
  display: block;
  margin-bottom: 30px;
}

.mobile-menu .border-btn {
  font-size: 15px;
  border: 1px solid #181818;
  width: 206px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.3s;
}

.mobile-menu .border-btn:hover {
  background: #181818;
  color: #fff;
}

.mobile-menu .close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  background: url(/img/close.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
  opacity: 0.5;
}

.mobile-menu .close:hover {
  opacity: 1;
}

.modal-callback {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.modal-callback .wrap {
  position: relative;
  max-width: 497px;
  padding: 100px 50px;
  background: #ffffff;
}

.modal-callback h2 {
  text-align: center;
  margin-bottom: 50px;
}

.modal-callback input {
  width: 100%;
  height: 76px;
  padding: 27px;
  font-size: 17px;
  margin-bottom: 20px;
}

.modal-callback input.errors {
  color: red;
  border: 1px solid red;
}

.modal-callback .button {
  width: 100%;
  height: 76px;
  background: #181818;
  color: #fff;
  font-size: 17px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.modal-callback .button:hover {
  background: #000;
}

.modal-callback span {
  font-size: 11px;
}

.modal-callback .close-callback {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  background: url(/img/close.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.modal-callback .close-callback:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.header {
  background: #08070c;
}

.container {
  max-width: 1346px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}

.nav a {
  color: #fff;
}

.nav-wrap {
  padding-top: 37px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.nav-wrap .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-wrap .contacts a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.nav-wrap .border-btn {
  border: 1px solid #ffffff;
  width: 160px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-wrap .border-btn:hover {
  background: #ffffff;
  color: #181818;
  font-weight: 700;
}

.logo-wrap .name {
  font-weight: 700;
  text-transform: uppercase;
}

.logo-wrap span {
  font-size: 12px;
}

.top-menu ul {
  display: flex;
  justify-content: space-between;
}

.top-menu li {
  margin-right: 42px;
}

.top-menu li:last-child {
  margin-right: 0;
}

.main-section {
  padding-top: 70px;
  padding-bottom: 226px;
  color: #ffffff;
  width: 100%;
  background: url(../img/main-bg.jpg);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-section span {
  font-size: 25px;
}

.wrap-triggers {
  max-width: 1127px;
  margin: auto;
  position: relative;
}

.wrap-triggers .triggers {
  position: absolute;
  width: 100%;
  top: -95px;
  max-width: 1127px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrap-triggers .trigger {
  padding: 29px 45px 39px 45px;
  background-color: #fff;
  max-width: 230px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  color: #181818;
  text-align: center;
}

.wrap-triggers .num {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 9px;
  color: #DD000A;
}

.wrap-triggers .descr {
  font-size: 20px;
  line-height: 140%;
}

.services-section {
  padding-top: 206px;
  padding-bottom: 113px;
}

.services-section h2 {
  text-align: center;
  margin-bottom: 70px;
}

.services-section .item {
  position: relative;
  margin: 0 35px 70px 35px;
}

.services-section .wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services-section img {
  max-width: 350px;
}

.services-section span {
  width: 347px;
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 28px;
  position: absolute;
  bottom: 20px;
  right: -17px;
  z-index: 1;
  background: #DD000A;
  color: #fff;
}

.consultation-section {
  padding-top: 70px;
  padding-bottom: 100px;
  background: linear-gradient(180deg, #3A3A3A 0%, #181818 100%);
}

.consultation-section h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 52px;
}

.consultation-section form {
  display: flex;
  justify-content: space-between;
}

.consultation-section span {
  display: block;
  color: #ffffff;
  opacity: 0.5;
  font-size: 11px;
  text-align: end;
}

.consultation-section input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 422px;
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: space-between;
  padding-left: 27px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  font-size: 17px;
  margin-right: 20px;
}

.consultation-section input.errors {
  border: 1px solid red;
}

.consultation-section button {
  width: 100%;
  height: 76px;
  background: #ffffff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 17px;
  cursor: pointer;
}

.about-section {
  padding-top: 113px;
  padding-bottom: 161px;
  background: url(../img/about-bg.jpg);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-section h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 70px;
}

.about-section .wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-section .content-about {
  max-width: 49%;
  padding: 37px 50px;
  background: #fff;
}

.about-section h3 {
  margin-bottom: 16px;
}

.about-section p {
  line-height: 160%;
  margin-bottom: 10px;
}

.about-section .contacts-title {
  margin-top: 113px;
  margin-bottom: 9px;
}

.about-section .city-code {
  font-size: 14px;
  display: block;
  margin: auto;
  color: #ffffff;
  margin-bottom: 40px;
}

.about-section .content-contacts {
  width: 32.5%;
  padding: 29px 30px 37px 30px;
  background: #fff;
  margin-bottom: 20px;
}

.about-section .content-contacts .title {
  margin-bottom: 7px;
}

.about-section .content-contacts p {
  margin-bottom: 25px;
}

.about-section .content-contacts .tel {
  display: flex;
  margin-bottom: 5px;
}

.about-section .content-contacts .tel li {
  margin-right: 16px;
}

.about-section .show-more {
  margin: auto;
  margin-top: 27px;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.about-section .show-more:after {
  position: absolute;
  right: -15px;
  top: 7px;
  content: '';
  width: 9px;
  height: 5px;
  display: block;
  background: url(/img/arrow-down.svg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.about-section .hide {
  display: none;
}

.requisites-section {
  padding: 113px 0px;
}

.requisites-section .wrap {
  column-count: 2;
  column-gap: 60px;
  margin: auto;
}

.requisites-section h2 {
  margin-bottom: 70px;
  text-align: center;
}

.requisites-section .item {
  margin-bottom: 20px;
}

.requisites-section .name {
  margin-bottom: 10px;
  line-height: 120%;
  font-weight: 700;
}

.requisites-section .description {
  line-height: 160%;
}

.form-section {
  padding: 113px 0px;
}

.form-section .wrap {
  display: flex;
  justify-content: space-between;
}

.form-section .box-image {
  display: block;
  width: 833px;
  margin-left: 50px;
  background: url(/img/form-image.jpg) no-repeat;
  background-position: 70% 50%;
  background-size: cover;
}

.form-section h2 {
  margin-bottom: 70px;
  text-align: center;
}

.form-section form {
  display: flex;
  flex-direction: column;
  max-width: 422px;
}

.form-section input, .form-section textarea, .form-section button {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  padding: 27px;
  font-size: 17px;
  margin-bottom: 20px;
}

.form-section input.errors, .form-section textarea.errors, .form-section button.errors {
  border: 1px solid red;
}

.form-section textarea {
  resize: none;
  height: 190px;
}

.form-section button {
  justify-content: center;
  cursor: pointer;
  background: #181818;
  color: #ffffff;
  font-size: 18px;
}

.form-section span {
  font-size: 11px;
}

.footer {
  padding: 30px 0 50px 0;
  background: linear-gradient(180deg, #3A3A3A 0%, #181818 100%);
}

.footer .nav-wrap {
  position: static;
  margin: 0;
}

.footer .agreement {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.footer .agreement ul {
  display: flex;
  justify-content: flex-start;
}

.footer .agreement li {
  margin-right: 47px;
}

.footer .agreement a {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

/* Стили страницы agreement.html и страницы policy.html -----------------------*/
.agreement-section {
  padding: 30px 0px;
  font-size: 14px;
  line-height: 200%;
}

.agreement-section p {
  margin-bottom: 30px;
}

.agreement-section h1 {
  font-size: 35px;
  max-width: 100%;
}

.agreement-section h2 {
  margin-bottom: 20px;
  font-size: 25px;
}

.agreement-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.agreement-section ul {
  margin-bottom: 30px;
}

.agreement-section li {
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  .header .top-menu, .header .contacts {
    display: none;
  }
  .header .burger {
    display: block;
    margin: 6px 0;
    width: 25px;
    height: 20px;
    background: url(/img/burger.svg) no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .wrap-triggers {
    padding-top: 50px;
  }
  .wrap-triggers .triggers {
    position: static;
  }
  .wrap-triggers .trigger {
    max-width: 49%;
    width: 100%;
    margin-bottom: 20px;
  }
  .services-section {
    padding: 100px 0px;
  }
  .about-section .content-about {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .about-section .content-about:last-child {
    margin-bottom: 0;
  }
  .about-section .content-contacts {
    width: 49%;
  }
  .form-section .box-image {
    width: 50%;
  }
  .form-section form {
    width: 50%;
    max-width: inherit;
  }
  .footer .logo-wrap {
    align-items: center;
    margin-bottom: 30px;
  }
  .footer .top-menu ul {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
  }
  .footer .top-menu ul li {
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 16px;
    text-align: center;
  }
  .footer .agreement {
    margin-top: 0;
  }
  .footer .agreement ul {
    display: block;
  }
  .footer .agreement li {
    margin-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .consultation-section form {
    flex-direction: column;
    margin: auto;
    max-width: 70%;
  }
  .consultation-section form input {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .consultation-section span {
    text-align: center;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 720px) {
  .main-section h1 {
    font-size: 30px;
  }
  .main-section span {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
  .form-section form {
    width: 80%;
    margin: auto;
  }
  .form-section .box-image {
    display: none;
  }
  .agreement-section h1 {
    font-size: 30px;
  }
  .agreement-section h2 {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .requisites-section .wrap {
    column-count: 1;
  }
  .footer .nav-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .footer .agreement {
    flex-direction: column;
    align-items: center;
  }
  .footer .agreement li {
    margin-right: 0;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .wrap-triggers .trigger {
    max-width: 100%;
  }
  .about-section .content-contacts {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .consultation-section form {
    max-width: 100%;
  }
  .form-section form {
    width: 100%;
  }
  .agreement-section h1 {
    font-size: 25px;
  }
  .agreement-section h2 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .services-section {
    padding: 50px 0px;
  }
  .services-section h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  .services-section .item {
    margin: 0 0 20px 0;
    width: 100%;
  }
  .services-section .item img {
    max-width: 100%;
  }
  .services-section .item span {
    width: 100%;
    max-width: 100%;
    position: static;
  }
  .consultation-section {
    padding: 50px 0px;
  }
  .consultation-section h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  .consultation-section span {
    text-align: left;
  }
  .about-section {
    padding: 50px 0px;
  }
  .about-section h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  .about-section h3 {
    font-size: 18px;
  }
  .about-section .content-about {
    padding: 20px;
  }
  .requisites-section {
    padding: 50px 0px;
  }
  .requisites-section h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  .form-section {
    padding: 50px 0px;
  }
  .form-section h2 {
    text-align: left;
    margin-bottom: 30px;
  }
  .footer .nav-wrap {
    align-items: flex-start;
  }
  .footer .top-menu ul {
    align-items: flex-start;
  }
  .footer .agreement {
    align-items: flex-start;
  }
  .footer .agreement li {
    text-align: left;
  }
  .mobile-menu {
    min-width: inherit;
  }
}
/*# sourceMappingURL=style.css.map */